//
   Created by George on 4/14/2015.

extends ../sblayout
block content
    h3 users list
    table.table.table-striped
        thead
            tr
                td User Name
                td Additional Data
                td Sample Data
                    tbody
                    - each user in users
                        tr
                            td #{user.profile.name}
                            td #{user.email}
                            td
                                a(href='/user/edit/#{user.id}',data-toggle='tooltip',data-placement='top')
                                    span
                                    i.fa.fa-pencil.fa-fw
                                a(href='/user/delete/#{user.id}' style='padding-left:10px')
                                    span
                                    i.fa.fa-trash.fa-fw
