//
   Created by George on 3/18/2015.
extends ../sblayout
block content
    .page-header
        h3 New Device for client #{client.id}
    form.form-horizontal(action='/device/create/#{client.id}', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-2.control-label(for='deviceId') Device Id
            .col-sm-4
                input.form-control(type='text', name='deviceId', id='deviceId')
        .form-group
            label.col-sm-2.control-label(for='description') Description
            .col-sm-4
                input.form-control(type='text', name='description', id='description')
        .form-group
            .col-sm-offset-2.col-sm-4
                button.btn.btn.btn-primary(type='submit')
                    span.ion-edit
                    | Save Changes