//
   Created by George on 3/30/2015.
extends ../sblayout
block head
    //script(src='http://mbostock.github.com/d3/d3.js?2.5.0')
    script(type='text/javascript', src="/assets/lib/standalone-framework.js")
    script(type='text/javascript', src="/assets/lib/highcharts.js")
    script(type='text/javascript', src="/assets/lib/exporting.js")
    script(type='text/javascript', src="/assets/lib/socket.io.js")
    script(type='text/javascript', src="/assets/lib/knockout-3.3.0.js")
    script(type='text/javascript', src="/assets/lib/justgage.1.0.1.min.js")
    script(type='text/javascript', src="/assets/lib/raphael.2.1.0.min.js")
block content
    .row(id='gauges',style='padding-top: 20px')
        .col-lg-3.col-md-6
            #gauge1
        .col-lg-3.col-md-6
            #gauge2

    .row
        .col-lg-4
            .panel.panel-default
                .panel-heading
                    i.fa.fa-bell.fa-fw
                    | Notifications panel
                .panel-body
                    .list-group
                        a.list-group-item(href='#')
                            i.fa.fa-comment.fa-fw
                            | New Comment
                            span.pull-right.text-muted.small
                                em 4 minutes ago
                        a.list-group-item(href='#')
                            i.fa.fa-comment.fa-fw
                            | New Comment
                            span.pull-right.text-muted.small
                                em 4 minutes ago
                        a.list-group-item(href='#')
                            i.fa.fa-comment.fa-fw
                            | New Comment
                            span.pull-right.text-muted.small
                                em 4 minutes ago
                    a.btn.btn-default.btn-block(href='#') view All Alerts
    script(type="text/javascript").
        var socket = io.connect('http://localhost:3001');



        var element = document.getElementById('gauges');
        var divElements = element.getElementsByTagName('div');
        var gauges = [];

        for(var i = 0; i<divElements.length;i++)
        {
            if(divElements[i].id.lastIndexOf('gauge')!=-1)
            {

                gauges[i] = new JustGage({
                    id: divElements[i].id,
                    value: getRandomInt(0, 100),
                    min: 0,
                    max: 100,
                    title: "Cold Room 1",
                    label: "&degC"
                });
            }



        }




        socket.on('pushdata', function (data) {
            //document.getElementById("currentreading").innerHTML = data.readingvalue+'.00&degC ';
                   //ko.applyBindings(new ViewModel(data));

                   //updateData(data);
            if(gauges){
                for(var index = 0;index<gauges.length;index++)
                {
                    if(gauges[index])
                    {
                        gauges[index].refresh(data.readingvalue);
                    }

                }

                //window.gauges[0].config.value = data.readingvalue;

            }


            //g1.refresh(data.readingvalue);
            //g2.refresh(data.readingvalue);
        });

        socket.emit('pageReady','George');
