//
   Created by George on 4/14/2015.
extends ../sblayout
block content
    h3 Roles List
    a.btn.btn-primary(href='/roles/create') Create New
    table.table.table-striped
        thead
            tr
                td Role Name
                td Description
        tbody
            - each role in roles
                tr
                    td #{role.rolename}
                    td #{role.description}
